.select__container {
  text-align: center;
}

.dark_header {
  color: var(--grey-500);
}

.select__container > select {
  box-shadow: var(--shadow-2);
  padding: 0.5rem 2rem;
  margin: 2rem;
  min-width: 15rem;
  max-width: 40rem;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
}

.select__header {
  margin-top: 2rem;
}
