nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-color);
  padding: 1.5rem;
}

.dark {
  background-color: #16161a;
  color: #babab3;
}

.user__img__container {
  border-radius: 50%;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
}

.user__img__container > img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.nav__heading span {
  text-transform: uppercase;
  font-weight: 600;
}

.mode__container {
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-items: center;
}

.power_off {
  transition: hover 0.2s ease-in;
  margin: 4px;
  border-radius: 50%;
}

.power_off:hover {
  background-color: #707072b9;
  transform: scale(1.1);
}
