nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-color);
  padding: 1.5rem;
}

.user__img__container {
  border-radius: 50%;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
}

.nav__heading span {
  text-transform: uppercase;
  font-weight: 600;
}
