* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  background-color: #272838;
}

article {
  color: #edff71;
  display: grid;
  place-items: center;
  font-weight: 800;
  font-size: 2.5rem;
}

.react-core {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.react-more {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.react-more > article {
  color: #61dafb;
}
