/* Roboto Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* body {
  background-color: #f8fafc;
} */

h1,
h2,
h3 {
  margin-bottom: 1.38rem;
  font-weight: 500;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: 100%;
}

.navbar {
  height: 6rem;
  padding: 10px;
  box-shadow: 1px 1px 5px #e9e4e4;
  display: grid;
  place-items: center;
  grid-template-columns: auto 1fr auto;
}

.navbar > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: start;
  padding-left: 3rem;
}

.navbar > ul > li {
  padding: 4px;
}

.search__bar {
  font-size: 2rem;
}

.image__container {
  height: 4rem;
  padding-right: 1rem;
}

main {
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__bar {
  display: flex;
  align-items: center;
  background-color: #e2e8f0;
  padding: 12px;
  width: 40%;
  justify-self: center;
  margin-right: 3rem;
  border-radius: 10px;
}

.search__bar input {
  background-color: #e2e8f0;
  border: none;
  color: #334155;
  padding: 0 4px;
  height: 2rem;
  width: 80%;
  border-radius: 10px;
}

.search__bar input::placeholder {
  color: #334155;
  font-size: 1rem;
}

.search__icon__container {
  padding: 0 4px;
  display: grid;
  place-items: center;
}

.fa-solid {
  font-size: 1.4rem;
}

input:focus {
  background-color: white;
  border: none;
}

/* removing outline */
.search__bar input:focus {
  outline: none;
}

.fa-user-secret {
  padding: 0 1rem;
}
